.M-popup.center {
    top: 50%;
    left: 5%;
    right: 5%;
    width: 270px;
    border-radius: 7px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.6);
}
.center {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
}
.M-popup {
    display: none;
    position: absolute;
    z-index: 90;
    min-height: 50px;
    background-color: #e8e8e8;
    -webkit-transform: translateY(0%) !important;
}

.M-title {
    text-align: center;
    padding: 15px;
    font-weight: 500;
    font-size: 17px;
    text-align: center;
}
.M-content {
    text-align: center;
    padding: 0 10px 10px 10px;
    line-height: 1.2em;
    font-size: 14px;
}
.M-handler {
    text-align: center;
}
.M-handler > span:last-child {
    border-right: 0 none;
}
.M-handler > span {
    padding: 12px;
    display: block;
    color: #222;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-left: none;
    border-bottom: none;
    color: #007aff;
    font-size: 16px;
}
a, button, input {
    -webkit-tap-highlight-color: rgba(255,0,0,0);
}

.ani {
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.M-pop{
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    max-width: 640px;

    position: fixed;
    top:0;
    z-index: 9999;
}

.M-toast{
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    top: 70%;
    z-index: 500;
    color: #fff;
    font-size: 16px;
    text-align: center;
}
.M-toast>span{
    display: inline-block;
    padding: 10px 25px;
    background:rgba(0,0,0,.7);
    max-width: 90%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    word-break: break-all;
}
.M-popup.bottom{
    left:0;
    right:0;
    bottom:0;
}
.actionsheet {
    padding: 0 6px;
}
.actionsheet .actionsheet-group > button:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.actionsheet button {
    margin: 0 !important;
    padding: 0;
    font-size: 16px;
    line-height: 40px !important;
    display: block;
    width: 100%;
    background: #e8e8e8;
    color: #007aff;
    border-radius: 0;
    border-bottom: 1px solid #d2d2d6;
}
.actionsheet .actionsheet-group > button:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-bottom: 6px !important;
}
.actionsheet > button {
    margin-bottom: 6px !important;
    border-radius: 4px;
}
