html,body {
	height: 100%;
}
.navbar {
	background-color: #212121;
	height: 50px;
	margin-bottom: 0;
}
#content {
/*	padding-top: 50px;*/
	height: 100%;
}
.container {
	height: 100%;
}
#victor {
	position: relative;
	height: 100%;
	width: 100%;
}
#output {
	width: 100%;
	height: 100%;
}
.finger{
	width:180px;
	height:180px;
	display: block;
	border-radius: 50%;
	margin:15% auto 0 auto;
}
#victor .container{
	width:100%;
	height:100%;
	position: absolute;
	left:0;
	top:0;
}
.myname{
	color:#fff;
	font-size:4rem;
	margin-top:25px;
}
.mydesc{
	color:#fff;
	font-size:2.5rem;
	margin-top:25px;
}
#hue-mouse {
	height: 100%;
	width: 100%;
}
#hue-auto {
	background: url(../images/hue.jpg) no-repeat;
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
	-webkit-animation: kleurtjes 5s infinite;
	-moz-animation: kleurtjes 5s infinite;
	animation: kleurtjes 5s infinite;
}
@-webkit-keyframes kleurtjes {
	0% {
		-webkit-filter: hue-rotate(0deg);
		-moz-filter: hue-rotate(0deg);
		filter: hue-rotate(0deg);
	}
	100% {
		-webkit-filter: hue-rotate(360deg);
		-moz-filter: hue-rotate(360deg);
		filter: hue-rotate(360deg);
	}
}
@-moz-keyframes kleurtjes {
	0% {
		-webkit-filter: hue-rotate(0deg);
		-moz-filter: hue-rotate(0deg);
		filter: hue-rotate(0deg);
	}
	100% {
		-webkit-filter: hue-rotate(360deg);
		-moz-filter: hue-rotate(360deg);
		filter: hue-rotate(360deg);
	}
}
@keyframes kleurtjes {
	0% {
		-webkit-filter: hue-rotate(0deg);
		-moz-filter: hue-rotate(0deg);
		filter: hue-rotate(0deg);
	}
	100% {
		-webkit-filter: hue-rotate(360deg);
		-moz-filter: hue-rotate(360deg);
		filter: hue-rotate(360deg);
	}
}









@-webkit-keyframes bounceInDown {
	0%, 60%, 75%, 90%, 100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
				transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -3000px, 0);
				transform: translate3d(0, -3000px, 0);
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, 55px, 0);
				transform: translate3d(0, 55px, 0);
	}
	75% {
		-webkit-transform: translate3d(0, -20px, 0);
				transform: translate3d(0, -20px, 0);
	}
	90% {
		-webkit-transform: translate3d(0, 15px, 0);
				transform: translate3d(0, 15px, 0);
	}
	100% {
		-webkit-transform: none;
				transform: none;
	}
}
@keyframes bounceInDown {
	0%, 60%, 75%, 90%, 100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
				transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -3000px, 0);
				transform: translate3d(0, -3000px, 0);
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, 55px, 0);
				transform: translate3d(0, 55px, 0);
	}
	75% {
		-webkit-transform: translate3d(0, -20px, 0);
				transform: translate3d(0, -20px, 0);
	}
	90% {
		-webkit-transform: translate3d(0, 15px, 0);
				transform: translate3d(0, 15px, 0);
	}
	100% {
		-webkit-transform: none;
				transform: none;
	}
}

.bounceInDown {
	-webkit-animation-name: bounceInDown;
			animation-name: bounceInDown;
	-webkit-animation-duration: 1.25s;
			animation-duration: 1.25s;
	-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
}

@-webkit-keyframes zoomInDown {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
		transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
		-webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
		animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
		transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
		-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	}
}
@keyframes zoomInDown {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
		transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
		-webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
		animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
		transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
		-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	}
}
.zoomInDown {
	-webkit-animation-name: zoomInDown;
			animation-name: zoomInDown;
	-webkit-animation-duration: 1.25s;
			animation-duration: 1.25s;
	-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
@keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
.fadeInDown {
	-webkit-animation-name: fadeInDown;
			animation-name: fadeInDown;
	-webkit-animation-duration: 0.75s;
			animation-duration: 0.75s;
	-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
}


.ani-delay-2{
	-webkit-animation-delay: 0.2s;
			animation-delay: 0.2s;
}
.ani-delay-10{
	-webkit-animation-delay: 1s;
			animation-delay: 1s;
}
.ani-delay-20{
	-webkit-animation-delay: 2s;
			animation-delay: 2s;
}
