*{
	box-sizing: border-box;
}
.logo{
	margin-top:200px;
	margin-left:200px;
	width:180px;
	height:165px;
	background: -webkit-linear-gradient(top,#fff974,#82c122);
	border-radius: 40px;
	position: relative;
	-webkit-transform: scale(0.5,0.5);
}
.inner{
	  width: 135px;
	  height: 120px;
	  background: #fff;
	  border-radius: 25px;
	  position: absolute;
	  top: 22px;
	  left: 22px;
}
.hline{
	width:80px;
	height:25px;
	border-radius: 8px;
	background: -webkit-linear-gradient(top,#d8e759,#c8e04f);
	position:absolute;
	top:33px;
	left:26px;
}
.white{
	width:15px;
	height:25px;
	background: white;
	position:absolute;
	left:37px;
	top:119px;
}
.vline{
	width:25px;
	height: 73px;
	background: -webkit-linear-gradient(top,#bedc49,#90c72d);
	position: absolute;
	left:52px;
	top:68px;
}
.shade1{
	width:90px;
	height: 82px;
	background: #fff;
	position: absolute;
	top:84px;
	right:0;
	-webkit-animation: shade1 2s infinite;
}
@-webkit-keyframes shade1{
	0%{
		-webkit-transform: translate(0);
	}
	30%{
		-webkit-transform: translate(50px) rotate(0);
	}
	70%{
		-webkit-transform: translate(50px,-40px) rotate(-90deg);
	}
	100%{
		-webkit-transform: translate(50px,-82px) rotate(-90deg);
	}
}
